In [87]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [88]:
#1
first_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
second_list = sorted(first_list, key=lambda x: -1/x)
second_list

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

In [89]:
df = pd.read_csv("JEOPARDY_DATA.csv")
df[" Value"] = df[" Value"].str.replace("$","").str.replace(",","")
df[" Value"] = df[" Value"].astype(float)
df[" Value"]

second_list= pd.get_dummies(df[[" Round"," Value"]])
second_list

,Value,Round_Double Jeopardy!,Round_Final Jeopardy!,Round_Jeopardy!,Round_Tiebreaker
0,200.0,False,False,True,False
1,200.0,False,False,True,False
2,200.0,False,False,True,False
3,200.0,False,False,True,False
4,200.0,False,False,True,False
...,...,...,...,...,...
216925,2000.0,True,False,False,False
216926,2000.0,True,False,False,False
216927,2000.0,True,False,False,False
216928,2000.0,True,False,False,False
216929,NaN,False,True,False,False